/*
  color palette:  https://coolors.co/9e62ca-75dddd-d90368-ffbc42-0d3b66
*/

#age-confirm {
  font-size: 2rem;
}

/*********************** nav ***********************/

nav {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}

.navbar-brand {
  font-family: Yellowtail;
  font-size: 2rem;
}

.nav-item {
  margin-right: 1em;
  font-family: Amiko;
  font-weight: bold;
  padding-top: 1em;
}

/*********************** jumbotron ***********************/

.jumbotron {
  background: linear-gradient(90deg, #555 0%, #222 50%, #555);
  padding: 0;
  margin: 0;
}

.jumbotron h1 {
  font-family: Yellowtail;
}

.jumbotron #secondary-brand {
  color: #9e62ca;
  font-family: Amiko;
  font-size: 0.55em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  display: block;
  margin-top: -.25em;
}

#logo-wrapper {
  background: url('../img/print-logo.png') no-repeat;
  background-position: 28%;
  background-size: 500px;
  background-color: rgba(0,0,0,0.50);
  background-blend-mode: darken;
}

#brand-wrapper {
  margin: 4rem auto 0;
  padding: 2rem;
  max-width: 400px;
}

@media only screen and (max-width: 575px) {
  .jumbotron h1{
    font-size: 4em;
    margin-top: 1rem;
  }

  .jumbotron * {
    text-align: center;
  }

  #logo-wrapper {
    background-position: 10%;
    background-size: 250px;
    background-color: rgba(0,0,0,0.50);
    background-blend-mode: darken;
  }
}
