/*
  color palette:  https://coolors.co/9e62ca-75dddd-d90368-ffbc42-0d3b66
*/



#age-confirm {
  font-size: 2rem;
}

/*********************** nav ***********************/

nav {
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.25);
}

.navbar-brand {
  font-family: Yellowtail;
  font-size: 2rem;
}

.nav-item {
  margin-right: 1em;
  font-family: Amiko;
  font-weight: bold;
  padding-top: 1em;
}

/*********************** jumbotron ***********************/

.jumbotron {
  background: linear-gradient(90deg, #555 0%, #222 50%, #555);
  padding: 0;
  margin: 0;
}

.jumbotron h1 {
  font-family: Yellowtail;
}

.jumbotron #secondary-brand {
  color: #9e62ca;
  font-family: Amiko;
  font-size: 0.55em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -0.1em;
  display: block;
  margin-top: -.25em;
}

#logo-wrapper {
  background: url('../img/print-logo.png') no-repeat;
  background-position: 28%;
  background-size: 500px;
  background-color: rgba(0,0,0,0.50);
  background-blend-mode: darken;
}

#brand-wrapper {
  margin: 0 auto;
  padding: 2rem;
  max-width: 400px;
}

@media only screen and (max-width: 575px) {
  .jumbotron h1{
    font-size: 4em;
    margin-top: 1rem;
  }

  .jumbotron * {
    text-align: center;
  }

  #logo-wrapper {
    background-position: 10%;
    background-size: 250px;
    background-color: rgba(0,0,0,0.50);
    background-blend-mode: darken;
  }
}

h1, h2, .yellowtail {
  font-family: Yellowtail;
}

.amiko {
  font-family: Amiko;
  font-weight: bold;
}

.button-icon {
  position: relative;
  top: 3px;
  font-size: 1rem;
}

.col-icon {
    font-size: 5rem;
    color: #ddd;
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.theme-purple {
  color: #9E62CA;
}
.theme-blue {
  color: #75DDDD;
}
.theme-red {
  color: #D90368;
}
.theme-yellow {
  color: #FFBC42;
}
.theme-darkblue {
  color: #0D3B66;
}
.theme-green {
  color: #7ED957;
}

.btn-purple {
  border: 1px solid #9E62CA;
  background-color: #9E62CA;
  color: white;
}

.btn-outline-yellow {
  border: 1px solid #FFBC42;
  color: #FFBC42;
  background-color: rgba(0,0,0,0);
}

.btn-outline-purple {
  border: 1px solid #9E62CA;
  background-color: rgba(0,0,0,0);
  color: #9E62CA;
}
.btn-outline-red {
  border: 1px solid #D90368;
  background-color: rgba(0,0,0,0);
  color: #D90368;
}

#site-footer {
  background-color: #eee;
  padding: 1.5em 0;
}

#faq-accordion button {
  color: #9E62CA;
  text-decoration: none;
}

#main-content a {
  color: #D90368;
}

#main-content a:hover {
  text-decoration: none;
}

#faq-accordion a[data-toggle="collapse"] {
  font-size: 1rem;
  font-weight: normal;
  line-height: 0.75rem;
  color: #9E62CA;
}

#faq-accordion .card-body p:last-child {
  margin-bottom: 0;
}

#back-to-top {
    background-color: rgba(0,0,0,0);
    display: block;
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
    color: #9E62CAcc;
    border: 2px solid #9E62CAcc;
    font-size: 2.5em;
    padding: 0.5rem;
}

svg.social-icon {
  fill: #9E62CA;
  padding-left: 7px;
}
